# Visual Studio (Code) files
.vs
.vscode

# Launch settings
**/Properties/launchSettings.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

# Development configs
appsettings.Development.json

# Test settings
testSettings.json

# Jetbrains Rider files
.idea/
src/.idea 

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.env

# Local helm charts
.helm/charts/

/src/CUSTIS.Modeus.LmsAdapter.Host/tempkey.jwk
/src/CUSTIS.Modeus.LmsAdapter.Host/appsettings.Dev2.json
/src/CUSTIS.Modeus.LmsAdapter.Host/appsettings.Qa.json
*.bak
*.received.json
*.approved.json.bak
/packages
